body, html {
    background: url('../img/bg.png');
    font-family: Poppins-Regular, sans-serif;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/Poppins-Regular.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/Poppins-Medium.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/Poppins-Bold.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-SemiBold;
    src: url('../fonts/Poppins-SemiBold.ttf'); 
  }

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.w-500 {
    width: 500px;
}

.flexed-card {
    padding: 40px 60px 60px 60px;
    display: flex;
    flex-direction: column;
}

.center {
    align-self: center;
}

.text-center {
    text-align: center;
}

.ml-18 {
    margin-left: 18px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mt-20 {
    margin-top: 20px;
}

.p-10 {
    padding: 10px;
}

.medium {
    font-family: Poppins-Medium, sans-serif;
}

.bg-white {
    background: white;
}

.shadow {
    -webkit-box-shadow: 0 0 10px rgb(51, 51, 51);
            box-shadow: 0 0 10px rgb(51, 51, 51);
}

.text-right {
    text-align: end;
}

.text-red {
    color: rgb(153, 27, 27);
}

.bg-red {
    background-color: rgb(254, 226, 226);
}

.border-red {
    border-color: rgb(254, 202, 202);
}

.border {
    border-width: 2px;
    border-style: solid;
}

.border-10 {
    border-radius: 10px;
}

.sm-text {
    font-size: 13px;
}

.h-25 {
    height: 25px;
} 

.w-25 {
    width: 25px;
}

.md-text {
    font-size: 14px;
}

.poppins-regular {
    font-family: Poppins-Regular;
}

.pointer {
    cursor: pointer;
}

.hidden {
    display: none;
}

.input {
    border: 0;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom: 2px solid gray;
    font-size: 16px;
    color: gray;
    line-height: 1.2;
    display: block;
    height: 45px;
    background: #e0e0e0;
    padding: 0 7px 0 20px;
    font-family: Poppins-Medium;
}

.btn {
    border: none;
    border-radius: 25px;
    font-family: Poppins-Medium;
    font-size: 16px;
    color: white;
    background: rgb(109, 109, 109);
    padding: 0 20px;
    width: 100%;
    height: 50px;
    cursor: pointer;
}

.btn:hover {
    background: rgb(146, 146, 146);
}

.input:focus {
    outline: none
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fill {
    width: -webkit-fill-available;
}

.eye-icon {
    top: 11px;
    right: 10px;
}