body, html {
    background: url('../img/bg.png');
    font-family: Poppins-Regular, sans-serif;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/Poppins-Regular.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/Poppins-Medium.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/Poppins-Bold.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-SemiBold;
    src: url('../fonts/Poppins-SemiBold.ttf'); 
  }

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.w-500 {
    width: 500px;
}

.w-1000 {
    width: 1000px;
}

.flex {
    display: flex;
}

.flexed-card {
    padding: 40px 60px 60px 60px;
    display: flex;
    flex-direction: column;
}

.logout-icon {
    top: 10px;
    right: 10px;
}

.m-0{
    margin: 0;
}

.text-white {
    color: white;
}

.text-gray {
    color: rgb(80, 80, 80);
}

.vertical-super {
    vertical-align: super;
}

#logout:hover span, #logout:hover svg {
    color:rgb(146, 146, 146);
    stroke:rgb(146, 146, 146)
}

#logout:visited {
    color: inherit;
}

#logout {
    text-decoration: none;
}

.center {
    align-self: center;
}

.text-center {
    text-align: center;
}

.ml-18 {
    margin-left: 18px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mt-20 {
    margin-top: 20px;
}

.p-10 {
    padding: 10px;
}

.medium {
    font-family: Poppins-Medium, sans-serif;
}

.bg-white {
    background: white;
}

.shadow {
    -webkit-box-shadow: 0 0 10px rgb(51, 51, 51);
            box-shadow: 0 0 10px rgb(51, 51, 51);
}

.text-right {
    text-align: end;
}

.text-red {
    color: rgb(153, 27, 27);
}

.bg-red {
    background-color: rgb(254, 226, 226);
}

.border-red {
    border-color: rgb(254, 202, 202);
}

.border-gray {
    border-color: gray;
}

textarea {
    border: none;
    resize: none;
    font-family: Poppins-Medium;
}

textarea:focus {
    outline: none;
}

.border {
    border-width: 2px;
    border-style: solid;
}

.border-10 {
    border-radius: 10px;
}

.sm-text {
    font-size: 13px;
}

.h-20 {
    height: 20px;
} 

.w-20 {
    width: 20px;
}

.h-25 {
    height: 25px;
} 

.w-25 {
    width: 25px;
}

.md-text {
    font-size: 14px;
}

.poppins-regular {
    font-family: Poppins-Regular;
}

.pointer {
    cursor: pointer;
}

.hidden {
    display: none;
}

#posts {
    min-height: 410px;
    max-height: 410px;
    overflow-y: auto;
}

.no-posts {
    margin: 22% 0;
    text-align: center;
    justify-content: center;
}

.border-b {
    border-bottom: 5px solid gray;
}

.post-btn {
    width: fit-content !important;
    padding: 0 42px !important;
}

.justify-between {
    justify-content: space-between;
}

.w-full {
    width: 100%;
}


.ml-5 {
    margin-left: 5px;
}

.mr-5 {
    margin-right: 5px;
}

.m-20 {
    margin: 20px;
}

.flex-row {
    flex-direction: row;
}

.input {
    border: 0;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom: 2px solid gray;
    font-size: 16px;
    color: gray;
    line-height: 1.2;
    display: block;
    height: 45px;
    background: #e0e0e0;
    padding: 0 7px 0 20px;
    font-family: Poppins-Medium;
}

.search-date {
    background: rgb(235, 235, 235) !important;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 6px !important;
}

.btn {
    border: none;
    border-radius: 25px;
    font-family: Poppins-Medium;
    font-size: 16px;
    color: white;
    background: rgb(109, 109, 109);
    padding: 0 20px;
    width: 100%;
    height: 50px;
    cursor: pointer;
}

.btn-alt {
    border: none;
    font-family: Poppins-Medium;
    background: rgb(235, 235, 235);
    border: 1px solid rgb(210, 210, 210);
    color: gray;
    border-radius: 6px;
    height: 40px;
    cursor: pointer;
}

.btn-alt:hover {
    background: rgb(201, 201, 201);
}

.btn:hover {
    background: rgb(146, 146, 146);
}

.align-end {
    align-self: flex-end;
}

.input:focus {
    outline: none
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fill {
    width: -webkit-fill-available;
}

.eye-icon {
    top: 11px;
    right: 10px;
}

.glass-icon {
    bottom: 13px;
    right: 12px;
}

.glass-icon:hover {
    stroke: rgb(80, 80, 80);
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}